* {
  padding: 0;
  margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,700&display=swap');
body {
  background: url(../Assets/1155032.jpg);
  min-height: 100vh;
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  display: flex;
  flex-direction: row;
}

.gameboard {
  position: relative;
  height: 93vmin;
  width: 93vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  overflow: hidden;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

.gameboard::before {
  content: '';
  position: absolute;
  width: 40vmin;
  height: 140%;
  background-color: #fff000;
  background-image: linear-gradient(315deg, #fff000 0%, #ed008c 74%);
  animation: animate 3s linear infinite;
}

.gameboard::after {
  content: '';
  position: absolute;
  background-color: rgb(43, 122, 158);
  inset: 8px;
  border-radius: 40px;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(350deg);
  }
}

#board {
  background: grey;
  height: 90vmin;
  width: 90vmin;
  border: 2px solid black;
  display: grid;
  border-radius: 40px;
  grid-template-rows: repeat(18, 1fr);
  grid-template-columns: repeat(18, 1fr);
  position: relative;
  z-index: 10;
}

.head {
  background-color: red;
  border: 2px solid black;
  border-radius: 14px;
  transform: scale(1.1);
}
.snake {
  background: rgb(255, 3, 3);
  background: radial-gradient(
    circle,
    rgba(255, 3, 3, 1) 0%,
    rgba(100, 100, 210, 1) 67%,
    rgba(172, 232, 232, 1) 92%
  );
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 0 1px 15px 5px red;
  transform: scale(0.9);
}

.food {
  background: rgb(21, 12, 148);
  background: radial-gradient(
    circle,
    rgba(21, 12, 148, 1) 0%,
    rgba(222, 17, 17, 1) 99%
  );
  border: 2px solid black;
  border-radius: 20px;
}

.scorbox {
  color: white;

  position: absolute;
  top: 100px;
  right: 250px;
  font-size: 50px;
}

.highScore {
  position: absolute;
  left: 80px;
  top: 200px;
  font-size: 30px;
  color: white;
  width: 400px;
  height: 200px;

  border-radius: 25px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  font-family: 'Ubuntu', sans-serif;
  transition: 0.5s ease all;
}

.rolling span {
  position: absolute;
  left: 120px;
  top: 140px;
  width: 300px;
  height: 300px;
  border: 2px solid rgb(255, 255, 255);
  pointer-events: none;
  animation: animax 4s linear infinite;
}

.rolling span:nth-child(1) {
  border-radius: 47% 53% 77% 23% / 50% 30% 70% 50%;
  animation-direction: reverse;
}
.rolling span:nth-child(2) {
  animation-duration: 3s;
  border-radius: 60% 40% 43% 57% / 28% 30% 70% 72%;
}
.rolling span:nth-child(3) {
  animation-duration: 7s;
  animation-direction: reverse;
  border-radius: 24% 76% 57% 43% / 28% 28% 72% 72%;
}
.rolling span:nth-child(4) {
  border-radius: 47% 53% 77% 23% / 50% 30% 70% 50%;
  animation-duration: 5s;
}
@keyframes animax {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(350deg);
  }
}

.highScore.almost {
  color: crimson;
  font-family: 'Lobster', cursive;
  font-size: 50px;
  font-weight: bold;
}

.token {
  background-color: gold;
  border: 2px solid black;
  border-radius: 14px;
  transform: scale(1.1);
}

.tokenX {
  background-color: Silver;
  border: 2px solid black;
  border-radius: 14px;
  transform: scale(1.1);
}
@media (max-width:1400px) {
.rolling{
  position: absolute;
  left: 1%;
  top: 1%;
  
}

  .rolling span{
  
  width: 150px;
  height: 150px;
  left: 60px;
  top: 70px;
}

.highScore{
  position: relative;
  left: 60px;
  top: 70px;
  width: 100px;
  height: 100px;
  font-size:13px;
 
  transform: translate(10%, 20%);
  -webkit-transform: translate(10%, 20%);
  -moz-transform: translate(10%, 20%);
  -ms-transform: translate(10%, 20%);
  -o-transform: translate(10%, 20%);
}

.scorbox{
  right: 200px;
  font-size: 20px;  
}
}
